.cuerpo{
    height: 550px;
    widt: 73%;
}
#datos select, #datos input{
    width: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
}


#grabar{
    margin-top: 10px;
}

label, legend{
    font-size: 18px;
}
#submit, #validar{
    margin-top: 10px;
}
#login{
    width: 300px;
}
.errores{
    width: 97%;
    text-align: center;
    margin: auto;
}
